/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Hide the Junbo */
  #mainJumbo {
    display: none;
  }
}

/* Medium and Up */
@media (min-width: 576px) {
  #mainJumbo {
    background-image: url("../images/mainbackground3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
  }

  .mainText {
    padding-top: 50px;
    padding-bottom: 0px;
    height: 100%;
  }
}

hr {
  border-color: white;
}

.zoom {
  transition: all 0.2s ease-in-out;
  /* Animation */
}

.zoom:hover {
  transform: scale(1.01);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.built {
  font-size: 90%;
  font-style: oblique;
  /* opacity: .5; */
}

#pict_me {
  float: left;
  margin: 0 25px 10px 25px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#cardDecks {
  padding-top: 10px;
}

.card {
  height: 467px;
}

.btnCenter {
  width: 85%;
  margin: auto;
  text-align: center;
  bottom: 10px;
  position: absolute;
}

#aboutInfo {
  margin-top: 20px;
  margin-bottom: 50px;
}

.footerLinks {
  margin: 10px;
}
